@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

 

.newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.box {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
}

.box h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 15px;
}

.box p {
    font-size: 15px;
    color: rgb(61, 60, 60);
    margin-bottom: 15px;
}

.box label {
    margin-bottom: 4px;
    font-size: 14px;
    color: rgb(61, 60, 60);
}

.box input {
    padding: 9px 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 6px;
}

.box button {
    padding: 9px 0px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}